{% extends 'base.html' %}

{% block content %}
    <div class="tm-container-outer"></div>
    <div class="wrapper" style="height: 100%">
        <div class="bc-icons-2 text-uppercase">
            <ol class="breadcrumb indigo lighten-4">
                <li class="breadcrumb-item"><a class="black-text"
                                               href="{% url 'home' %}#top"><strong>Home</strong></a><i
                        class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
                <li class="breadcrumb-item active">About Us</li>
            </ol>
        </div>
        <h2 class="content-page-title content-page-title-style-1 subtitle" style="color: #17a2b8">
            About Us
        </h2>
        <br>
        <div class="summary">
            Vicsmile is developed by Team QuadCore as an Industry Experience Project in the Faculty of Information
            Technology at Monash University, Australia. This Website is intended for educational purpose only.
            <br>
            <br>
            This website is intended for use by people who are newly migrated to Victoria, some of them are but not
            limited to refugees and asylum seekers, foreign workers, international students, and new permanent
            residents. This website is developed to provide general access to dental health services in Victoria. Users
            can search public dental clinics, foods, and view informative materials and learn more about dental health.
            <br>
            <br>
            Members of Team QuadCore:
            <ul>
                <li>Changze Chen (Claude)</li>
                <li><a href="https://www.linkedin.com/in/vigneshdhanapal/" target="_blank" data-toggle="tooltip"
                       data-placement="right" title="Open in a new window">Vignesh Dhanapal</a></li>
                <li><a href="https://www.linkedin.com/in/mravp/" target="_blank" data-toggle="tooltip"
                       data-placement="right" title="Open in a new window">Mahaztra Putra (Rafa)</a></li>
                <li>Zhiqing Shu (Yolanda)</li>
            </ul>
        </div>
        <div class="summary">
            <h4> </h4>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>



{% endblock %}