{% extends 'base.html' %}

{% block content %}
    <div class="tm-container-outer"></div>
    <div class="wrapper" style="height: 100%">
        <div class="bc-icons-2 text-uppercase">
            <ol class="breadcrumb indigo lighten-4">
                <li class="breadcrumb-item"><a class="black-text"
                                               href="{% url 'home' %}#top"><strong>Home</strong></a><i
                        class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
                <li class="breadcrumb-item active">Copyright</li>
            </ol>
        </div>
        <h2 class="content-page-title content-page-title-style-1 subtitle" style="color: #17a2b8">
            Copyright
        </h2>
        <br>
        <div class="summary">
            This website is developed for educational purpose only.
            <br>
            <br>
            Except as permitted by the copyright law applicable to you, you may not reproduce or communicate any of the content on this website, without the permission of the copyright owner.
            <br>
            <br>
            The Australian Copyright Act 1968 allows certain uses of content from the internet without the copyright owner’s permission. For more information, see
            <a href="https://www.legislation.gov.au/">
                <span class="s2">https://www.legislation.gov.au</span>
            </a>,
            <a href="http://www.copyright.com.au/">
                <span class="s2">www.copyright.com.au</span>
            </a>
            and
            <a href="http://www.copyright.org.au/">
                <span class="s2">www.copyright.org.au</span>
            </a>.
            </span>
            <span class="s3"><br></span>
        </div>
        <div class="summary">
            <h4> </h4>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>



{% endblock %}