{% extends 'base.html' %}

{% block content %}
    <div class="tm-container-outer"></div>
    <div class="wrapper" style="height: 100%">
        <div class="bc-icons-2 text-uppercase">
            <ol class="breadcrumb indigo lighten-4">
                <li class="breadcrumb-item"><a class="black-text"
                                               href="{% url 'home' %}#top"><strong>Home</strong></a><i
                        class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
                <li class="breadcrumb-item active">Privacy Policy</li>
            </ol>
        </div>
        <h2 class="content-page-title content-page-title-style-1 subtitle" style="color: #17a2b8">
            Privacy Policy
        </h2>
        <div class="summary">
            When you use our services, you’re requiring for providing some information that can help us serve you. We understand this is critical that your personal information needs to be protected.
            <br>
            This Privacy Policy is meant to help you understand what information we collect, why we collect it and how we will use it.
            <br>
            <br>
            <h4 class="content-page-title content-page-title-style-1" style="color: #17a2b8;">
            Types of data we collect as you use our services:
            </h4>
            <h5>Your location information</h5>
            We will ask your location information when you first time open up the application.
            Your location can be determined with varying degrees of accuracy by:
            <ul>
                <li>GPS</li>
                <li>IP address</li>
            </ul>
            The services will call the GPS chips on your device, when you connect the WI-FI and have no available GPS services, our application may use your current IP address location to have this location service.
            <br>
            We will store the location data: latitude and longitude, timestamp when you at that location.
            <br>
            <br>
            <h5>Your gender, age and others</h5>
            We will ask your gender, age and whether you've had or is having kids to get more accurate data and create
            your daily nutrients intake summary.
            <br>
            We will not store your information after you leaving the related page.
        </div>
    </div>
    <div class="summary-end-footer"></div>



{% endblock %}