
body {
    font-family: 'Ubuntu', sans-serif !important;
    /*font-size: 13px;*/
    font-weight: 300;
    background: #edf5f4;
    top: 0px !important;
}

a, button {
    transition: all 0.3s ease;
}

/*a:link{*/
/*color: #007bff;*/
/*}*/

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

p:last-child {
    margin-bottom: 0;
}

.tm-page-wrap {
    max-width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background: white;
}

.tm-container-outer {
    /*max-width: 1400px;*/
    max-width: 100%;
    margin: 0 auto;
}

.section {
    /*max-width: 1400px;*/
    max-width: 100%;
    margin: 0 auto;
}

.tm-content-box {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.tm-text-gray {
    color: #787676;
}

.tm-text-highlight {
    color: #c66995;
    font-weight: 600;
}

.tm-bg-primary {
    background: #69c6ba;
}

.tm-bg-highlight {
    background: #c66995;
}

.btn-primary {
    background: #69c6ba;
    border: none;
    border-radius: 4px;
    outline: none;
}

.btn-primary:hover {
    background: #c66995;
}

.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 35px;
    padding-left: 35px;
}

.tm-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 105px;
    background: white;
}

.tm-top-bar.active {
    height: 60px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link {
    padding: 18px 20px;
}

.tm-top-bar.active .navbar-brand {
    font-size: 1.4rem;
}

.tm-top-bar .navbar-brand img {
    width: 60px;
    height: auto;
}

.tm-top-bar.active .navbar-brand img {
    width: 40px;
}

.tm-top-bar-bg {
    height: 99px;
}

/*.tm-top-bar-bg { height: 87px; }*/
.tm-top-bar a {
    color: black;
}

.navbar-brand:lang(el){
    font-size: 1.4rem;
}
.nav:lang(el){
    font-size: 12px;
}

.tm-top-bar.active:lang(el) .nav-link:lang(el){
    font-size: 12px;
}


.navbar-brand {
    font-size: 2.2rem;
    text-transform: uppercase;
}

.navbar {
    font-weight: 600;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link.active, .nav-link:hover {
    color: #69c6ba;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(104, 199, 187)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgb(104, 199, 187);
    border-radius: 0;
    cursor: pointer;
}

.tm-banner-title {
    font-size: 3rem;
    margin-bottom: 40px;
    margin-top: 45px;
    padding-top: 45px;
}

.tm-banner-subtitle {
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tm-banner-header {
    color: white;
}

.tm-banner-overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
}

.tm-banner-bg {
    background: url(../img/smile.png) center top no-repeat;
    min-height: 575px;
    position: relative;
}

.tm-banner-row {
    position: relative;
    z-index: 100;
    justify-content: center;
    padding-top: 50px;
}

.tm-banner-row-header {
    text-align: center;
}

.tm-down-arrow-link {
    color: white;
    background-color: #69c6ba;
    border-radius: 50%;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.tm-down-arrow-link:hover,
.tm-down-arrow-link:focus {
    color: white;
    background-color: #c66995;
}

/* Search form */
select.tm-select.form-control:not([size]):not([multiple]) {
    height: 50px;
}

.form-control {
    font-size: 1.0rem;
    padding: .75rem;
}

label {
    font-weight: 600;
    width: max-content;
}

.tm-search-form {
    background-color: #f5f6f6;
    padding: 25px 25px;
    width: 100%;
    max-width: 830px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}

.tm-form-group {
    float: left;
    margin-bottom: 0.5rem
}

.tm-form-group-pad {
    padding: 0 8px;
}

.tm-form-group-1 {
    width: 50%;
}

/*50*/
.tm-form-group-2 {
    width: 50%;
}

.tm-form-group-3 {
    width: 25%;
}

.tm-form-group-0 {
    width: 5%;
}

.form-control {
    border-radius: 4px;
    height: 50px;
}

.tm-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 12px 20px;
}

.tm-btn-white {
    background: white;
}

.tm-btn-white-primary {
    color: #69c6ba;
}

.tm-btn-white-highlight {
    color: #c66995;
}

.tm-btn-white-primary:hover,
.tm-btn-white-primary:focus,
.tm-btn-white-primary:active {
    background: #c66995;
    color: white;
}

.tm-btn-white-highlight:hover,
.tm-btn-white-highlight:focus,
.tm-btn-white-highlight:active {
    background: #69c6ba;
    color: white;
}

.tm-btn-search {
    width: 100%;
    height: 50px
}

.tm-btn-search:hover,
.tm-btn-search:active,
.tm-btn-search:focus {
    background: #c66995;
}

.tm-bg-gray {
    background-color: #efefef;
}

.tm-about-text-wrap {
    max-width: 830px;
}

.tm-right {
    display: inline-block;
    float: right;
}

.tm-slideshow-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tm-slideshow-section-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.tm-slideshow {
    width: 50%;
}

.tm-slideshow-description {
    padding: 50px;
    color: white;
    width: 48%;
    z-index: 100;
    margin-left: -42px;
}

.tm-slideshow-description-left {
    margin-left: auto;
    margin-right: -42px;
}

.tm-position-relative {
    position: relative;
}

.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
}

.slick-prev, .slick-next,
.slick-prev:focus,
.slick-prev:active,
.slick-next:focus,
.slick-next:active {
    background: rgba(0, 0, 0, 0.5);
}

.slick-prev:before, .slick-next:before {
    font-size: 22px;
}

.slick-prev:hover,
.slick-next:hover {
    background: #69c6ba;
}

.tm-slideshow-highlight .slick-prev:hover,
.tm-slideshow-highlight .slick-next:hover {
    background: #c66995;
}

.slick-prev {
    left: auto;
    right: 95px;
    z-index: 1000;
}

.tm-right .slick-prev {
    left: 42px;
    right: auto;
}

.slick-next {
    right: 42px;
}

.tm-right .slick-next {
    right: auto;
    left: 94px;
}

/* Tabs */
/*noinspection ALL*/
.tm-tabs-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background: #69c6ba;
}

.tm-tab-link {
    padding: 30px 25px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    height: 100%;
}

.tm-tab-link:hover {
    color: white;
}

.tm-tab-link-li {
    background: transparent;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    transition: all 0.3s ease;
}

.tm-tab-link:hover,
.tm-tab-link.active {
    background: #17a2b8;
}

.tab-pane {
    max-width: 970px;
    margin: 60px auto;
}

.tm-recommended-place {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 25px;
}

.tm-recommended-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.tm-recommended-img {
    width: 270px;
}

.tm-recommended-description-box {
    padding: 30px;
    /*width: 500px;*/
}

.tm-recommended-price-box {
    background-color: #69c6ba;
    background-image: url(../img/button-curve.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 20px;
    width: 200px;
    transition: all 0.3s ease;
}

.tm-recommended-price-box:hover {
    background-color: #c66995;
}

.tm-recommended-price {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

.tm-recommended-price-link {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.tm-d-table {
    display: table;
}

footer {
    background: #69c6ba;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 0.8rem;

    bottom: 0px;
    width: 100%;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #900;
}

footer p {
    color: white;
}

.tm-footer-text-highlight {
    color: white;
    font-weight: 600;
}

.tm-footer-text-highlight:hover {
    color: #c66995;
}

.tm-contact-form {
    background: white;
    width: 470px;
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 20px;
    z-index: 1000;
}

/*.form-control {*/
/*!*background-color: #f5f5f5;*!*/
/*!*border: none;*!*/
/*}*/

.form-control:focus {
    border-color: #69c6ba;
    box-shadow: 0 0 0 0.1rem #69c6babf;
}

.tm-name-container,
.tm-email-container {
    width: 210px;
    float: left;
}

.tm-email-container {
    margin-left: 10px;
}

.tm-btn-send {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}

#google-map {
    height: 600px;
}

.fa.fa-globe, .fa.fa-graduation-cap, .fa.fa-users, .fa.fa-address-card, .fa.fa-medkit, .fa.fa-heartbeat,
.fa.fa-language, .fa.fa-handshake-o {
    font-size: 56px;
    color: white;
}

@media screen and (min-width: 1380px) {
    /*.subtitle{padding-top: 15px;}*/

}

@media screen and (max-width: 1200px) {

    .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
        padding: 40px 10px;
    }

    .nav a {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 1080px) {
    /*.subtitle{padding-top: 15px;}*/
    .tm-tab-link-li {
        width: 25%;
    }

}

@media screen and (max-width: 1033px) {
    /*.subtitle{padding-top: 15px;}*/
    .tm-slideshow-description {
        width: 55%;
    }

}

@media screen and (max-width: 991px) {
    /*.subtitle{padding-top: 70px;}*/
    .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
        padding: 15px 20px;
        background: white;
    }

    .nav a {
        padding: 10px 15px;
    }

    .tm-top-bar {
        height: auto;
    }

    .tm-top-bar-bg {
        height: 60px;
    }

    #mainNav {
        width: 259px;
        background-color: #fff;
        /*flex-direction: column;*/
        position: absolute;
        top: 100%;
        right: 15px;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(214, 214, 214, 1);
        -moz-box-shadow: 0px 0px 7px 0px rgba(214, 214, 214, 1);
        box-shadow: 0px 0px 7px 0px rgba(214, 214, 214, 1);
    }

    .tm-top-bar {
        height: 60px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
    }

    .tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link,
    .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
        padding: 15px;
    }

    .tm-top-bar .navbar-brand {
        font-size: 1.4rem;
    }

    .tm-top-bar .navbar-brand img {
        width: 60px;
        height: auto;
    }

    .tm-top-bar .navbar-brand img {
        width: 40px;
    }

    .tab-pane {
        margin-left: 20px;
        margin-right: 20px;
    }

    /*.tm-recommended-description-box { width: 450px; }*/
}

@media screen and (max-width: 986px) {
    /*.subtitle{padding-top: 70px;}*/
    /*.breadcrumb{margin-top: 62px;}*/
    /*.breadcrumb{padding-top: 70px;}*/
    .tm-slideshow-section {
        flex-direction: column;
    }

    .tm-slideshow,
    .tm-slideshow-description {
        width: 100%;
        max-width: 700px;
    }

    .tm-slideshow-description {
        margin-right: auto;
        margin-left: auto;
    }

    .slick-prev, .slick-next {
        bottom: 0;
        top: auto;
    }

    .tm-contact-form {
        position: static;
        width: 100%;
    }

    .tm-name-container,
    .tm-email-container {
        width: 49%;
    }

    .tm-email-container {
        margin-left: 0;
        float: right;
    }

}

@media screen and (max-width: 860px) {
    .tm-recommended-description-box {
        width: 350px;
    }

    /*.breadcrumb{margin-top: 62px;}*/
}

@media screen and (max-width: 826px) {
    /*.breadcrumb{margin-top: 62px;}*/
    .tm-banner-row-header {
        padding-top: 120px;
    }

    .tm-recommended-place-wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto 15px;
    }

    .tm-recommended-place {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }

    .tm-recommended-price,
    .tm-recommended-price-link {
        position: relative;
        z-index: 1000;
    }

    .tm-recommended-price {
        padding-top: 50px;
    }

    .tm-recommended-price-box {
        width: 270px;
        height: 180px;
        position: relative;
        overflow: hidden;
        padding-left: 0;
        background-image: none;
    }

    .tm-recommended-price-box:after {
        content: "";
        position: absolute;
        width: 180px;
        height: 270px;
        top: -45px;
        left: 45px;
        z-index: 27;
        background: url(../img/button-curve.png) 0 0 no-repeat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        background-size: auto 100%;
    }

    .tm-recommended-price-box,
    .tm-recommended-price-box:hover {
        background-size: cover;
    }

    .tm-recommended-description-box {
        width: 270px;
    }

}



@media screen and (max-width: 767px) {
    .tm-banner-row {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    /*.breadcrumb{margin-top: 62px;}*/
    .tm-banner-header {
        margin-top: 100px;
    }

    .tm-form-group-1,
    .tm-form-group-2,
    .tm-form-group-3 {
        width: 100%;
    }

    .tm-form-group-4 {
        width: 50%;
    }

}

.sf-map-marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}

.sf-map-container {
    /*padding-top: 2%;*/
    /*width: 100vw;*/
    /*height: 70vh;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.sf-map-sidebar {
    left: 0;
    /*width: 40%;*/
    height: 100%;
    max-height: 550px;
    /*min-height: 500px;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /*margin-left: 10px;*/
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
}

.sf-map-view {
    right: 0;
    width: 60%;
    height: 650px;
    margin-left: 20px;
    /*margin-top: 30px;*/
}



@media screen and (min-width: 1190px) {
    #nav {
        padding-left: 5px;
    }
}


@media screen and (max-width: 1190px) {

    .sf-map-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }



    .sf-map-sidebar {
        top: 0;
        width: 95%;
        height: 30%;
        margin: 0px 0 0 2.5%;
    }

    .sf-map-view {
        width: 95%;
        height: 350px;
        margin-top: 15px;
        /*margin-left: 10px;*/
    }

    #tm-section-search-result{
        margin-top: 15px;
    }


    .fa.fa-globe, .fa.fa-graduation-cap, .fa.fa-users, .fa.fa-address-card, .fa.fa-medkit, .fa.fa-heartbeat,
    .fa.fa-language, .fa.fa-handshake-o {
        font-size: 48px;
        color: white;
    }
}

@media screen and (min-width: 768px){
    #tm-section-search-result {
        padding-top: 0px;
        height: 425px;
    }
}

@media screen and (max-width: 768px){
#tm-section-search-result {
    padding-top: 0px;
    height: 670px;}
}


@media screen and (max-width: 375px) {

}

#sf-map-input-postcode {
    padding: 10px;
    -ms-flex-item-align: center;
    align-self: center;
    height: 40px;
    width: 55%;
    cursor: pointer;
}

.sf-map-results {
    /* overflow-y: scroll; */
    /*transition: box-shadow .3s;*/
    width: 100%;
    /*margin-top: 20px;*/
    /* min-height: auto; */
    /*border-radius:10px;*/
    /*border: 1px solid #ccc;*/
    cursor: pointer;
    height: max-content;
}

#sf-map-input-submit {
    padding: 10px;
    color: white;
    float: right;
    background-color: #2f444e;
    font-size: 1.5rem;
    border: none;
    width: 40%;
}

#sf-map-input-submit:disabled {
    opacity: 0.3;
}

/*label {*/
/*margin-top: 10px;*/
/*}*/

.sf-map-result-container {
    transition: box-shadow .3s;
    padding: 10px;
    /*min-height: 150px;*/
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    background-color: white;
}

.sf-map-result-container:hover {
    box-shadow: 5px 10px 18px rgba(33, 33, 33, .2);
}

.sf-map-result-title {
    font-size: 13pt;
    font-weight: 600;
}

.cardy {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e5f6fb;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.tm-banner-row1 {
    position: relative;
    z-index: 100;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-body {
    width: 100%;
    padding-bottom: 20px;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    min-height: calc(100vh - 14rem);
}

.style-6 {
    background-color: #edf5f4;
}

.cardy {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e5f6fb;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card {
    -ms-flex-preferred-size: 42%;
    flex-basis: 42%;
    margin: 1rem;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    background: #b1e1ed;
    text-align: center;
    height: 13rem;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.card img {
    width: 30%;
}

.card:hover {
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.card .text {
    font-size: 1.8rem;
    color: white;
}

.card .text > button {
    border: 0;
    color: white;
    width: 100%;
}

@media screen and (max-width: 414px) {
    .card {
        margin: 0.5rem;
    }

}

@media (max-width: 300px) {
    .card .text {
        font-size: 0.7rem;

    }

    .blank2 {
        height: 60px;
    }

    .fa.fa-globe, .fa.fa-graduation-cap, .fa.fa-users, .fa.fa-address-card, .fa.fa-medkit, .fa.fa-heartbeat,
    .fa.fa-language, .fa.fa-handshake-o {
        font-size: 36px;
        color: white;
    }
}

@media (min-width: 300px) {
    .card .text {
        font-size: 1.2rem;
    }

}

@media (min-width: 600px) {
    .card {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        height: 15rem;
    }

    .card .text {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {
    .card {
        -ms-flex-preferred-size: 30%;
        flex-basis: 20%;
    }

    .card .text {
        font-size: 1.5rem;
    }

}

@media (min-width: 1200px) {
    .card {
        height: 15rem;
    }
}

.card1 {
    /*background: #a9d192;*/
    background-color: #69c6ba;
}

.card2 {
    /*background: #a9d192;*/
    /*background-color: #86D3EC;*/
    background-color: #17a2b8;
}

.card-inner {
    width: 90%;
}

.card-inner:hover {
    text-decoration: none;
}

.cards {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 95%;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    margin-bottom: 60px;
}

@media screen and (min-width: 600px) {
    .cards {
        min-width: 40%;
        background-color: #edf5f4;

    }
}

@media screen and (min-width: 1300px) {
    .cards {
        min-width: 40%;
        background-color: #edf5f4;
    }
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
    width: 80%;
    margin-top: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
    color: black;
    padding: 12px 8px;
    text-decoration: none;
    display: block;

}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
    color: #69c6ba;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.intrinsic-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 30%;
    width: 50%;
    height: 50%;
    margin-right: 1em;
    display: block;
}

.indigo {
    background-color: #edf5f4
}

.breadcrumb {
    padding-left: 0px
}

.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
    content: none;
}

.bc-icons-2 .breadcrumb-item.active {
    color: #455a64;
}

/*.prev-page, .next-page {*/
/*display: block;*/
/*width: 25px;*/
/*height: 25px;*/
/*line-height: 26px;*/
/*position: absolute;*/
/*right: 2px;*/
/*z-index: 9999;*/
/*background: rgba(255,255,255,.5);*/
/*border-radius: 50%;*/
/*font-size: 14px;*/
/*color: #666;*/
/*text-align: center;*/
/*}*/

/*.prev-page { top: 0; }*/

/*.next-page { bottom: 0; }*/

/*.prev-page:active { background: rgba(155,155,155,.5); }*/

/*.next-page:active { background: rgba(155,155,155,.5); }*/

/*.pagination {*/
/*width: 30px;*/
/*height: auto;*/
/*position: fixed;*/
/*top: 50%;*/
/*right: 5px;*/
/*-webkit-box-sizing: border-box;*/
/*-moz-box-sizing: border-box;*/
/*box-sizing: border-box;*/
/*padding: 40px 0;*/
/*margin-top: -150px;*/
/*}*/

/*.pagination a {*/
/*width: 25px;*/
/*height: 25px;*/
/*display: block;*/
/*line-height: 28px;*/
/*text-align: center;*/
/*padding-left: 3px;*/
/*}*/

/*.pagination a:after {*/
/*content: "";*/
/*width: 15px;*/
/*height: 15px;*/
/*border-radius: 50%;*/
/*display: inline-block;*/
/*background: rgba(0,0,0,.5);*/
/*-webkit-transition: background .3s ease;*/
/*-moz-transition: background .3s ease;*/
/*-ms-transition: background .3s ease;*/
/*-o-transition: background .3s ease;*/
/*transition: background .3s ease;*/
/*}*/

/*.pagination a.active:after { background: rgba(255,255,255,.5); }*/

/*.play {*/
/*display: block;*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*margin-top: -20px;*/
/*margin-left: -50px;*/
/*width: 100px;*/
/*height: 100px;*/
/*-webkit-border-radius: 50%;*/
/*-moz-border-radius: 50%;*/
/*border-radius: 50%;*/
/*line-height: 100px;*/
/*background-color: rgb(178, 79, 65);*/
/*color: #fff;*/
/*text-align: center;*/
/*font-size: 14px;*/
/*text-decoration: none;*/
/*}*/

/*.play:hover { background-color: rgb(189, 80, 66); }*/

/*.play:active { background-color: rgb(141, 60, 50); }*/

/*.goto {*/
/*display: block;*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*margin-top: -20px;*/
/*margin-left: -50px;*/
/*width: 100px;*/
/*height: 100px;*/
/*webkit-border-radius: 50%;*/
/*-moz-border-radius: 50%;*/
/*border-radius: 50%;*/
/*line-height: 100px;*/
/*background-color: rgb(47, 95, 178);*/
/*color: #fff;*/
/*text-align: center;*/
/*font-size: 14px;*/
/*text-decoration: none;*/
/*}*/

/*.goto:hover { background-color: rgb(57, 123, 219); }*/

/*.goto:active { background-color: rgb(31, 79, 134); }*/

.tooltip-inner {
    color: #fff;
    background-color: #17a2b8
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #17a2b8
}

.dropdown {
    float: left;
}

.tm-top-bar.nav-link {
    font-size: 1.2rem
}

.tm-top-bar.active .nav-link {
    font-size: 1.0rem
}

.myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0d8c7c94;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.myBtn:hover {
    background-color: #28a74566;
}

/*.carousel-inner{*/
/*margin-left: 5%;*/
/*margin-right: 5%;*/
/*margin-bottom: 20px;*/
/*width: 90%;*/
/*background-color: #efefef;*/
/*height: 500px;*/
/*overflow-y: scroll;*/
/*}*/

.btn-info {
    color: #0c5460;
    background-color: #69c6ba;
    border-color: #69c6ba;
    padding: .175rem .75rem;
    margin-top: .175rem;
}

/**************** Google Translate widget ***********/

#google_translate_element {
    position: fixed;
    bottom: 120px;
    right: 30px;
    z-index: 999;;
}

iframe.goog-te-menu-frame.skiptranslate {

    margin-top: 2px;

    width: 175px;

    border-radius: 5px;

    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

    animation: bounce .6s ease-out;
}

.goog-te-gadget-simple {
    background-color: #0d8c7c94 !important;
    white-space: nowrap !important;
    border: 1px solid #17a2b8 !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    padding-top: 2px !important;
}

.goog-te-menu-value {
    text-decoration: none !important;
    /*float: right;*/
    vertical-align: middle !important;

    /*vertical-align: -10px;*/
}

.goog-te-menu-value span {

    /*color: $color_1 !important;*/
    color: #fff !important;
    text-decoration: none !important;
    border-color: #fff;
}

.goog-te-menu-value:hover {

    /*color: $color_1 !important;*/

    text-decoration: none !important;

}

.goog-te-banner-frame {

    display: none !important;

}

.goog-te-gadget-icon {

    background: url(../img/twotone_g_translate_white_18pt_1x.png) 0 0 no-repeat !important;
    width: 36px;
!important;
    height: 36px;
!important;
}

.goog-te-gadget-simple .goog-te-menu-value {
    color: #fff !important;
}

.col-md-4 > .fff:hover {
    background-color: #ddd;
}

.col-md-4 > .fff .caption {
    background: #fff !important;
    padding: 10px;
    height: 115px;
    position: relative;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    z-index: 990;
    border-radius: 10px;
}

.col-md-4 > .fff .caption:lang(vi) {
height: 155px;}

.col-md-4 > .fff .caption:lang(el) {
height: 155px;}

/* Thumbnail Box */
.caption h4 {
    color: #17a2b8;
}

.caption p {
    color: #666;
    font-weight: 400;
}

.btn.btn-mini {
    color: #fff;
    background: #69c6ba;
    border: none;
    border-radius: 4px;
    outline: none;
    position: absolute;
    bottom: 10px;

}

.btn.btn-mini:hover {
    background: #c66995;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 5px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.carousel-item img {
    opacity: 1;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 10px;
}

.carousel-item:hover img {
    opacity: .3;
}

.carousel-item .text {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: 0.8s;
    cursor: pointer;
}

.carousel-item .text h3 {
    margin: 0;
    color: #222;
}

.carousel-item:hover .text {
    opacity: 1;
}

@media (min-width: 1140px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

@media (min-width: 767px) and (max-width: 1139px) {

    .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

.modal-content {
    top: 70px;
    border-radius: 10px;
}

.modal-body {
    padding: 25px;
}

.section-intro {
    padding: 0px 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: #9dd9da;
}

#intro {
    border-radius: 50%;
    /*max-width: 50%;*/
    height: auto;
}

.intro-text {
    width: 75%;
    float: right;
    /*padding-right: 30px;*/
    position: relative;
    top: 50%;
}

.intro-box {
    float: left;
    width: 20%;
    /*padding-left: 30px;*/
    position: relative;
    top: 50%;
}

@media (min-width: 1300px) {
    .intro-text {
    width: 75%;
    float: right;
    /* padding-right: 30px; */
    position: relative;
    top: 50%;
    padding: 95px 0px;
}
}

@media (min-width: 1200px) and (max-width: 1300px){
    .intro-text {
    width: 75%;
    float: right;
    /* padding-right: 30px; */
    position: relative;
    top: 50%;
    padding: 75px 0px;
}
}

@media (min-width: 1065px) and (max-width: 1200px){
    .intro-text {
    width: 75%;
    float: right;
    /* padding-right: 30px; */
    position: relative;
    top: 50%;
    padding: 60px 0px;
}
}

@media (min-width: 960px) and (max-width: 1065px){
    .intro-text {
    width: 75%;
    float: right;
    /* padding-right: 30px; */
    position: relative;
    top: 50%;
    padding: 60px 0px;
}
}


@media (min-width: 768px) and (max-width: 960px) {
    .intro-text {
    width: 75%;
    float: right;
    /* padding-right: 30px; */
    position: relative;
    top: 50%;
    padding: 30px 0px;
}
}

@media (min-width: 300px) and (max-width: 521px) {
    #intro {
        border-radius: 50%;
        /* max-width: 75%; */
        /* min-height: 25%; */
        /*padding: 0px 10px;*/
        /*width: 50%;*/
        position: relative;
    }
    .intro-box {
    /*float: left;*/
    width: 100%;
    /*padding-left: 30px;*/
    position: relative;
    /*top: 50%;*/
}
    .intro-text {
    width: 100%;
    /*float: right;*/
    /*padding-right: 30px;*/
    position: relative;
    /*top: 50%;*/
}
}

@media (min-width: 521px) and (max-width: 768px) {
    #intro {
        border-radius: 50%;
        /* max-width: 75%; */
        /* min-height: 25%; */
        padding: 0px 100px;
        /*width: 50%;*/
        position: relative;
    }
    .intro-text {
        width: 100%;
        float: right;
        /* padding-right: 50px; */
        position: relative;
        top: 50%;
        text-align: center;
        margin-left: auto;
    padding: 0px 20px 20px;
    }

    .intro-box {
        float: left;
        width: 100%;
        /*padding-left: 30px;*/
        position: relative;
        top: 50%;
    padding: 20px 20px 0px;
    }

    .h1{
        font-size: 2rem !important;
    }

    .h3{
        font-size: 1rem !important;
    }

    .tm-banner-title {
    font-size: 2rem;}

    .tm-banner-subtitle {
    font-size: 1.2rem;}
}

@media (max-width: 403px) {
.caption h4{
    font-size: 1.2rem;
}
}


.footer-basic-centered{
	background-color: #69c6ba;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 0px 25px 25px 25px;
    position: absolute;
}

.footer-basic-centered .footer-company-motto{
	color:  #333;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #333;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}

#pic{
    text-align: center;
}

.media-container-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: start; }
  .media-container-row .media-size-item {
    width: 400px; }


.country:hover,
.country:focus
{
    background: #edf5f4;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/*.country:before {*/
    /*content: " ";*/
    /*display: block;*/
    /*padding-top: 100%;*/
/*}*/

/*.country {*/
    /*position: relative;*/
/*}*/
/*.country img {*/
    /*position: absolute;*/
    /*top: 0; bottom: 0; right: 0; left: 0;*/
/*}*/

i.tooltip-inner{
    width: 350px;
    max-width: 350px;
}

#lookHere {
        width: 60%;
    }

@media screen and (max-width: 991px) {
    #mainNav:lang(zh-CN) {
        width: 190px;
    }

    .nav li ul:lang(zh-CN) {

        width: 190px;
    }


     #mainNav:lang(el) {
        width: 280px;
    }

    .nav li ul:lang(el) {

        width: 280px;
    }

    #mainNav:lang(vi) {
        width: 344px;
    }

    .nav li ul:lang(vi) {

        width: 344px;
    }

    #lookHere {
        width: 40%;
    }

}

.results-container li {
    border-top: 1px solid black;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


.results-container li:hover {
    background-color: #c66995;
}

.results-container li {
    list-style-type: none;
    padding-inline-start: 10px;
}

.diets-box {
    text-align: center;
    padding: 10px;
}

.diets-img {
    width: 60%;
    border-radius: 10px;
}

.diets-img:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);

}