{% extends 'base.html' %}

{% block content %}

    <div class="tm-container-outer" ></div>
    <div class="wrapper" style="height: 100%;padding-left: 0rem;padding-right: 0rem; width:80%;height: 100%">
    <div class="bc-icons-2 text-uppercase">
    <ol class="breadcrumb indigo lighten-4">
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}#top"><strong>Home</strong></a><i class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}#tm-section-2"><strong>Dental Healthcare</strong></a><i class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item active">Reciprocal Health Agreement</li>
    </ol>
    </div>
        <h2 class="content-page-title content-page-title-style-1 subtitle" style="color: #17a2b8">
            Reciprocal Health Agreement
        </h2>
        <br>
        <div class="summary">
            Reciprocal Health Agreement or in a plain language a mutual health agreement is a collection of agreements of
            Australia with 11 countries that covers the cost of medically necessary care when Australians visit certain
            countries and visitors from these countries visit Australia.
            <br>
            <br>
            The agreement conditions tell you:
            <ul>
                <li>what medical care you can get under Medicare while you visit Australia, and</li>
                <li>the documents you need to show us to prove that you are eligible under the RHCA</li>
            </ul>

            Australia has mutual health agreement with the following countries:
             <ul>
                <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visiting-from-belgium" target="_blank"
                data-toggle="tooltip" data-placement="right" title="Open in a new window" id="link">Belgium</a></li>
                 <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visiting-from-finland" target="_blank"
                 data-toggle="tooltip" data-placement="right" title="Open in a new window">Finland</a></li>
                 <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visiting-from-italy" target="_blank"
                 data-toggle="tooltip" data-placement="right" title="Open in a new window">Italy</a></li>
                 <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visiting-from-malta" target="_blank"
                 data-toggle="tooltip" data-placement="right" title="Open in a new window">Malta</a></li>
                 <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visitors-from-netherlands" target="_blank"
                 data-toggle="tooltip" data-placement="right" title="Open in a new window">Netherlands</a></li>
                 <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visiting-from-new-zealand" target="_blank"
                 data-toggle="tooltip" data-placement="right" title="Open in a new window">New Zealand</a></li>
                 <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visiting-from-norway" target="_blank"
                 data-toggle="tooltip" data-placement="right" title="Open in a new window">Norway</a></li>
                 <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visiting-from-republic-ireland" target="_blank"
                 data-toggle="tooltip" data-placement="right" title="Open in a new window">Ireland</a></li>
                 <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visiting-from-slovenia" target="_blank"
                 data-toggle="tooltip" data-placement="right" title="Open in a new window">Slovenia</a></li>
                 <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visiting-from-sweden" target="_blank"
                 data-toggle="tooltip" data-placement="right" title="Open in a new window">Sweden</a></li>
                 <li><a href="https://www.humanservices.gov.au/individuals/services/medicare/reciprocal-health-care-agreements/visitors-australia/medical-care-visitors-australia/visiting-from-united-kingdom" target="_blank"
                 data-toggle="tooltip" data-placement="right" title="Open in a new window">United Kingdom</a></li>
            </ul>
            Click on the hyperlinks to read more information about specific condition of each country.
        </div>
</div>
    <br>
    <br>
    <br>
    </div>




{% endblock %}