{% extends 'base.html' %}

{% block content %}

    <div class="tm-container-outer" ></div>
    <div class="wrapper" style="height: 100%;padding-left: 0rem;padding-right: 0rem; width:80%;height: 100%">
    <div class="bc-icons-2 text-uppercase">
    <ol class="breadcrumb indigo lighten-4">
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}#top"><strong>Home</strong></a><i class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}#tm-section-2"><strong>Dental Healthcare</strong></a><i class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item active">Private Health Insurance</li>
    </ol>
    </div>
        <h2 class="content-page-title content-page-title-style-1 subtitle" style="color: #17a2b8">
            Private Insurance
        </h2>
        <div class="summary">
            If you are not eligible for Medicare, by law you are required to have private health insurance while you are living in Australia.
            There are two general streams of private insurance for a person who is not eligible for Medicare:
            <ul>
                <li>OSHC or Overseas Student Health Cover that covers holders of student visa</li>
                <li>OVHC or Overseas Visitor Health Cover that covers broader visa categories including work visas, visitor visas, working holiday visas, and bridging visas.</li>
            </ul>
            <br>
            <div class="content-page-videos">
                <div class="intrinsic-container">
                    <iframe frameborder="0" src="https://www.youtube.com/embed/7uRFFoTpVRw" target="_parent" allowfullscreen="" height="100%" width="100%" style="position: absolute; display: block; height: 100%; width: 100%;"></iframe>
                </div>
        </div>
        </div>
    <br>

    <h4 class="content-page-title content-page-title-style-1">
        Who are covered?
    </h4>
        <div class="summary">
            There are six categories of membership that provide cover for individuals and different family groupings:
        </div>
            <table class="table table-bordered table-striped table-condensed" style="background-color: #ddd; width: auto;">
        <thead>
        <tr>
          <th scope="col">Number of people covered</th>
          <th scope="col">Usually listed as</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1 adult</td>
          <td>Single</td>
        </tr>
        <tr>
          <td>2 adults</td>
          <td>Couple</td>
        </tr>
        <tr>
          <td>2 adults and dependant(s) - includes child/student dependants</td>
          <td>Family</td>
        </tr>
         <tr>
          <td>1 adult and dependant(s) - includes child/student dependants</td>
          <td>Single parent family</td>
        </tr>
        <tr>
          <td>1 adult and any dependant(s) - includes child/student/young adult dependants</td>
          <td>Single parent extension</td>
        </tr>
        <tr>
          <td>2 adults and any dependant(s) - includes child/student/young adult dependants</td>
          <td>Family extension</td>
        </tr>
        <tr>
          <td>Dependants only (no adults)</td>
          <td>Children only</td>
        </tr>
        </tbody>
        </table>
        <br>
        <div class="summary">
            Some funds may require people to be related by birth or in a relationship to be covered under the same policy.
            <br>
            <br>
            A dependant is an unmarried person under the age of 18 years
            <br>
            <br>
            A health fund may choose to consider a person between the ages of 18 and under 25 years as a dependant but will usually require certain
            conditions to be met for their cover to continue without a change in premiums - for example, the person may have to be a full-time student.
            <br>
            <br>
            If the person does not qualify as a child or a student, then the fund may still choose to continue their cover as a young adult dependant, in exchange for a higher premium.
            These conditions vary between health funds, so check with your fund to see which rules apply to you.
            See the <a href="https://www.privatehealth.gov.au/dynamic/insurer" target="_blank" data-toggle="tooltip" data-placement="right" title="Open in a new window">
            List of Funds </a>for a list of all the registered health funds in Australia and their contact details.
            <br>
            <br>
            Health funds may offer cover for some or all categories of membership in one or more states –
            they do not have to offer cover for all categories.
            See <a href="https://www.privatehealth.gov.au/healthfunds/howhealthfundswork/default.htm" target="_blank"
            data-toggle="tooltip" data-placement="right" title="Open in a new window"> How health funds work</a> for further information.
        </div>

    <br>
    <h4 class="content-page-title content-page-title-style-1">
        What is covered?
    </h4>
        <div class="summary">
            Private health insurance is very flexible, you can choose from the very basic coverage up to the most comprehensive health care coverage.
            <br>
            <br>
            However, most of the time, the basic coverage of health insurance does not cover dental procedures. To add dental procedures into your premium,
            you usually have to add extras into your insurance policy that may add additional cost.
            <br>
            <br>
            For more detail about private insurance policies, use the
            <a href="https://www.privatehealth.gov.au/dynamic/search" target="_blank" data-toggle="tooltip" data-placement="right" title="Open in a new window">
                Private Insurance Ombudsman tool</a> to compare private insurance policy in Australia.
        </div>
        <br>
        <h4 class="content-page-title content-page-title-style-1">
        Tips on health insurance
         </h4>
        <div class="summary-end">
            Benefits, membership costs and eligibility can vary greatly between funds and insurance policies.
            When buying any health insurance take care to ensure the cover you select is suitable for your needs.
           <ul>
               <li><strong>Make sure that you are aware of the waiting periods of the policy you purchase.</strong>
                   Most insurers will impose a 12 month <a href="https://www.privatehealth.gov.au/healthinsurance/howitworks/waitingperiods.htm" target="_blank"
                   data-toggle="tooltip" data-placement="right" title="Open in a new window">waiting period </a> for cover on pre-existing conditions,
                   and some may even permanently exclude pre-existing conditions, meaning they can never be covered at all.  Because OVHC policies generally commence when you arrive in Australia,
                   illnesses that develop while you are travelling to Australia are usually considered to be pre-existing.</li>
               <li><strong>Check the restrictions and exclusions of the policy.</strong>
                   Not everything will be covered in full and some items may not be covered at all.
                   Remember that hospital costs for overseas visitors, even in a public hospital, are generally higher than $1,000 per day.</li>
               <li>
                   <strong>Consider taking out the highest level of hospital cover you can afford.</strong>
                   You can choose to pay a higher excess if you do require treatment rather than having a restriction to save money on premiums.
               </li>
               <li><strong>Check how much your policy will cover for pharmacy</strong> as most policies only have limited cover and will not adequately cover
                   high-cost drugs such as those used as chemotherapy drugs in cancer treatment, which can cost tens of thousands of dollars.</li>
               <li><strong>If your visa status or Medicare eligibility changes</strong> inform your fund as soon as possible.
                   Check with them that your policy is still suitable, as you may be able to swap to a residents' policy.</li>
               <li><strong>Keep your policy paid & up to date. </strong>If your policy falls behind in payments,
                   your fund may refuse claims or cancel your membership.</li>
               <li><strong>If you are anticipating treatment, contact your fund</strong>
                   and find out whether you will be covered and how much you will need to pay yourself.
                   If you need treatment which is not covered by your insurer, ask the service provider to find out how much you will need to pay out of your own pocket.
                   If possible, ask for a written quote.</li>
           </ul>

<br>
Resource
<ul>
    <li>
        <a href="https://www.privatehealth.gov.au/" target="_blank" data-toggle="tooltip" data-placement="right" title="Open in a new window">
            privatehealth.gov.au</a>
    </li>
</ul>
             </div>
</div>


{% endblock %}