{% extends 'base.html' %}

{% block content %}

    <div class="tm-container-outer" ></div>
    <div class="wrapper" style="height: 100%;padding-left: 0rem;padding-right: 0rem; width:80%;height: 100%">
    <div class="bc-icons-2 text-uppercase">
    <ol class="breadcrumb indigo lighten-4">
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}#top"><strong>Home</strong></a><i class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}#tm-section-2"><strong>Dental Healthcare</strong></a><i class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item active">Language Service</li>
    </ol>
    </div>
        <h2 class="content-page-title content-page-title-style-1 subtitle" style="color: #17a2b8">
            Language Service
        </h2>
        <br>
        <div class="summary">
            <a href="https://www.tisnational.gov.au/"> The Translating and Interpreting Service (TIS National)</a> is a service provided by
            the Department of Home Affairs to provide interpreting services for people who do not speak English
            and for agencies and businesses that need to communicate with their non-English speaking clients.
            <br>
            <br>
            TIS National provides immediate phone interpreting services 24 hours a day, every day of the year,
            delivering services to all states and territories in Australia. TIS National has a panel of over 2500 interpreters speaking more than 160 languages
        </div>
    <br>

    <h4 class="content-page-title content-page-title-style-1">
        Free interpreting service
    </h4>
        <div class="summary">
            The Department of Social Services, through TIS National,
            provides free interpreting services to non-English speaking Australian residents holding Medicare cards.
            <br>
            <br>
            More information about the <a href="https://www.dss.gov.au/our-responsibilities/settlement-services/programs-policy/settle-in-australia/help-with-english/free-interpreting-service" target="_blank"
            data-toggle="tooltip" data-placement="right" title="Open in a new window"> free interpreting service</a> is available on the Department of Social Services
            website or you can contact the TIS National Language Policy Liaison team.
        </div>
        <br>
     <h4 class="content-page-title content-page-title-style-1">
        Free translating service
    </h4>
        <div class="summary">
            The Department of Social Services also provides a <a href="https://www.dss.gov.au/our-responsibilities/settlement-services/programs-policy/settle-in-australia/help-with-english/free-translating-service" target="_blank"
            data-toggle="tooltip" data-placement="right" title="Open in a new window">free document translating service </a>  for Australian citizens
            and new migrants settling permanently in Australia.
            <br>
            <br>
            Within the first two years of arriving in Australia,
            eligible individuals can have key personal documents such as birth or marriage certificates,
            drivers’ licences, educational and employment documents translated into English, free of charge,
            to assist with settlement into the community. This does not include documents that are required for
            a visa application. Applications for the free document translating service can be lodged at any Adult Migrant English Programme
            (AMEP) provider in Australia.
            <br>
            <br>
            More information about free translating service is available on the Department of Social Services website,
            or you can contact the TIS National Language Policy Liaison team.
            For more information visit the <a href="https://www.tisnational.gov.au/" target="_blank"
            data-toggle="tooltip" data-placement="right" title="Open in a new window"> TIS National website </a>or contact the TIS National Client Liaison and Promotions team.
            <br>
            <br>
            Phone: <a href="1300 655 820" >1300 655 820</a>
            <br>
            Email: <a href="mailto:example@email.com">tispromo@border.gov.au</a>
</div>

   <br>
Resource
<ul>
    <li>
        <a href="https://www.tisnational.gov.au/" target="_blank" data-toggle="tooltip" data-placement="right" title="Open in a new window">
            TIS National website </a>
    </li>
</ul>
    <br>
    <br>
    <br>

    </div>


{% endblock %}