{% extends 'base.html' %}

{% block content %}

    <div class="tm-container-outer"></div>
    <div class="wrapper" style="height: 100%;padding-left: 0rem;padding-right: 0rem; width:80%">
        <div class="bc-icons-2 text-uppercase">
            <ol class="breadcrumb indigo lighten-4">
                <li class="breadcrumb-item"><a class="black-text"
                                               href="{% url 'home' %}#top"><strong>Home</strong></a><i
                        class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
                <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}#tm-section-3"><strong>Diet and
                    Habits</strong></a><i class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
                <li class="breadcrumb-item active">Iraq</li>
            </ol>
        </div>
        <div class="row" style="min-height: 650px;">
            <div class="col-lg-7 col-md-12 col-sm-12 col-12" >
                <h2 class="content-page-title content-page-title-style-1 subtitle" style="color: #17a2b8">
            Iraq
        </h2>
                <div class="inner">
                    Average daily Iraqi nutrition intake has high to very high amount of protein, vitamin B12, and phosphorus.
                    Unlike other countries where the high amount of these nutrients comes from animal products.
                    Iraqis get these amounts from high consumption of fruit, vegetables and grains.
                    Since the political instability from the 1990s until now, the nutritional quality of food average Iraqis take daily has decreased overtime.
                    They need to consume more food source that have high content of calcium, vitamin A, B12, and C.
                    <br>
                    <br>
                    Food source rich in:
                    <ul>
                        <li>Calcium: milk, buttermilk, beans, lentils</li>
                        <li>Vitamin A: butter, cheese, egg, sweet potato, squash, carrot</li>
                        <li>Vitamin B12: milk, egg</li>
                        <li>Vitamin C: broccoli, spinach, orange</li>
                    </ul>
                </div>
            </div>
           <div class="col-lg-5 col-md-12 col-sm-12 col-12" style="margin-bottom: 200px;">
                <div class="inner">
                    <h5>Iraqi daily intake of nutrients that are good <br>
                        for dental health (per person per day). </h5>
                    <p>* More is not always better. <br>
                        Excess of some nutrients may also lead to some health issues. <br>
                        For detail information, please consult your doctor.
                    </p>
                    <table class="table table-striped custab nutrition-table">
                        <thead>
                        <tr>
                            <th>Nutrient</th>
                            <th>Ave. Intake</th>
                            <th class="text-center">Gap</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>Protein <i class="fa fa-question-circle" style="color: #818182; padding: 0px 10px;"
                                           data-html="true"
                                           data-toggle="tooltip"
                                           title="Good for tooth structure, <br>
                                           mucosal/connective <br>
                                           tissue development, <br>
                                           and immune function."
                                           data-placement="right"></i>
                            </td>
                            <td>63.6g</td>
                            <td class="text-center-green">+13.5%<i class="fa fa-arrow-up"></i></td>
                        </tr>
                        <tr>
                            <td>Calcium <i class="fa fa-question-circle" style="color: #818182; padding: 0px 10px;"
                                           data-html="true"
                                           data-toggle="tooltip"
                                           title="Good for tooth structure;<br>
                                            may enhance enamel <br>
                                            remineralization."
                                           data-placement="right"></i>
                            </td>
                            <td>753mg</td>
                            <td class="text-center-red">-25%<i class="fa fa-arrow-down"></i></td>
                        </tr>
                        <tr>
                            <td>Phosphorus <i class="fa fa-question-circle" style="color: #818182; padding: 0px 10px;"
                                           data-html="true"
                                           data-toggle="tooltip"
                                           title="Good for tooth structure."
                                              data-placement="right"></i>
                            </td>
                            <td>9004mg</td>
                            <td class="text-center-green">+800%<i class="fa fa-arrow-up"></i></td>
                        </tr>
                        <tr>
                            <td>Vitamin A <i class="fa fa-question-circle" style="color: #818182; padding: 0px 10px;"
                                           data-html="true"
                                           data-toggle="tooltip"
                                           title="Good for Mucosal/connective<br>
                                           tissues and immune function."
                                             data-placement="right"></i>
                            </td>
                            <td>16.4ug</td>
                            <td class="text-center-red">-97%<i class="fa fa-arrow-down"></i></td>
                        </tr>
                        <tr>
                            <td>Vitamin B6 <i class="fa fa-question-circle" style="color: #818182; padding: 0px 10px;"
                                           data-html="true"
                                           data-toggle="tooltip"
                                           title="Helping prevent dermatitis<br>
                                           with cheilosis<br>
                                           (scaling on the lips<br>
                                           and cracks at the<br>
                                           corners of the mouth)<br>
                                           and glossitis (swollen tongue)."
                                             data-placement="right"></i>
                            </td>
                            <td>10.5mg</td>
                            <td class="text-center-green">+423%<i class="fa fa-arrow-up"></i></td>
                        </tr>
                        <tr>
                            <td>Vitamin B12 <i class="fa fa-question-circle" style="color: #818182; padding: 0px 10px;"
                                           data-html="true"
                                           data-toggle="tooltip"
                                           title="Helping reduce tongue <br>
                                           inflammation and prevent <br>
                                           canker sores."
                                             data-placement="right"></i>
                            </td>
                            <td>1ug</td>
                            <td class="text-center-red">-83%<i class="fa fa-arrow-down"></i></td>
                        </tr>
                        <tr>
                            <td>Vitamin C <i class="fa fa-question-circle" style="color: #818182; padding: 0px 10px;"
                                           data-html="true"
                                           data-toggle="tooltip"
                                           title="Collagen maturation and<br>
                                           to maintain the integrity<br>
                                           of the periodontal ligament;<br>
                                            mucosal/connective tissues<br>
                                            and immune function."
                                             data-placement="right"></i>
                            </td>
                            <td>20mg</td>
                            <td class="text-center-red">-73%%<i class="fa fa-arrow-down"></i></td>
                        </tr>
                        <tr>
                            <td>Sugar <i class="fa fa-question-circle" style="color: #818182; padding: 0px 10px;"
                                           data-html="true"
                                           data-toggle="tooltip"
                                           title="Intake too much sugars<br>
                                           will result in tooth decay. "
                                             data-placement="right"></i>
                            </td>
                            <td>44.75g</td>
                            <td class="text-center-red">+49.2%<i class="fa fa-arrow-up"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

